<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=461515454747160&autoLogAppEvents=1" nonce="rJhnEKhR"></script>

<div class="fb-video" data-href="https://www.facebook.com/kmistadium/videos/1383127218444151/" data-show-text="true" data-width="">
    <blockquote cite="https://developers.facebook.com/kmistadium/videos/1383127218444151/" class="fb-xfbml-parse-ignore">
        <a href="https://developers.facebook.com/kmistadium/videos/1383127218444151/">Sentiment Analysis for Arabizi: A multilingual jargon in Social Media</a>
Posted by <a href="https://www.facebook.com/kmistadium/">KMi Stadium</a>
on Thursday, May 25, 2017</blockquote>
</div>